@media screen and (max-width: 576px) {
    :root {
        --breakpoint: 576px;
		--safe-width: 100%;
		--base-space: .3rem;
        --base-fsize: .7rem;
    }
}

@media screen and (min-width: 576px) {
    :root {
        --breakpoint: 576px;
		--safe-width: 90%;
		--base-space: .4rem;
        --base-fsize: .75rem;
    }
}

@media screen and (min-width: 576px) {
    :root {
        --breakpoint: 576px;
		--safe-width: 90%;
		--base-space: .5rem;
        --base-fsize: .8rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --breakpoint: 768px;
		--safe-width: 90%;
		--base-space: .65rem;
        --base-fsize: .85rem;
    }
}

@media screen and (min-width: 992px) {
    :root {
        --breakpoint: 992px;
		--safe-width: 80%;
		--base-space: .7rem;
        --base-fsize: .9rem;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --breakpoint: 1200px;
		--safe-width: calc(var(--breakpoint) - 2.5rem);
		--base-space: .8rem;
        --base-fsize: .95rem;
    }
}

@media screen and (min-width: 1400px) {
    :root {
        --breakpoint: 1400px;
		--safe-width: calc(var(--breakpoint) - 3rem);
		--base-space: 1rem;
        --base-fsize: 1rem;
    }
}

* {
    all: none;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .15s ease-in-out;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* DISPLAY TYPES */

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
        .flex {
            flex-wrap: nowrap;
        }
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .fd-column {
        flex-direction: column;
    }

    .fd-row {
        flex-direction: row;
    }


    .flex-x-pos-center { justify-content: center; }
    .flex-x-pos-left { justify-content: left; }
    .flex-x-pos-right { justify-content: right; }
    .flex-y-pos-center { align-items: center; }
    .flex-y-pos-top { align-items: flex-start; }
    .flex-y-pos-bottom { align-items: flex-end; }

    .grid {
        display: grid;
    }

    .block {
        display: block;
    }

    .inline-block {
        display: inline-block;
    }



/* TYPOGRAPHY */

    /* Font Size */
    .fsize-10       { font-size: calc( var(--base-fsize) * 2.5 ); }
    .fsize-9        { font-size: calc( var(--base-fsize) * 2.25 ); }
    .fsize-8        { font-size: calc( var(--base-fsize) * 2 ); }
    .fsize-7        { font-size: calc( var(--base-fsize) * 1.75 ); }
    .fsize-6        { font-size: calc( var(--base-fsize) * 1.5 ); }
    .fsize-5        { font-size: calc( var(--base-fsize) * 1.25 ); }
    .fsize-4        { font-size: calc( var(--base-fsize) * 1 ); }
    .fsize-3        { font-size: calc( var(--base-fsize) * .90 ); }
    .fsize-2        { font-size: calc( var(--base-fsize) * .8 ); }
    .fsize-1        { font-size: calc( var(--base-fsize) * .75 ); }

    /* Text Align */

    .talign-left    { text-align: left; }
    .talign-center  { text-align: center; }
    .talign-right   { text-align: right; }
    .talign-justify { text-align: justify; }

    /* Font Color */
    .color-primary          { color: var(--primary); }
    .color-primary-dark     { color: var(--primary-dark); }
    .color-secondary        { color: var(--secondary); }
    .color-secondary-dark   { color: var(--secondary-dark); }
    .color-gray-light       { color: var(--gray-light); }
    .color-gray-mid         { color: var(--gray-mid); }
    .color-gray-dark        { color: var(--gray-dark); }
    .color-white            { color: var(--text-white); }

    /* Font Weight */
    .fweight-9      { font-weight: 900; }
    .fweight-8      { font-weight: 800; }
    .fweight-7      { font-weight: 700; }
    .fweight-6      { font-weight: 600; }
    .fweight-5      { font-weight: 500; }
    .fweight-4      { font-weight: 400; }
    .fweight-3      { font-weight: 300; }
    .fweight-2      { font-weight: 200; }
    .fweight-1      { font-weight: 100; }

    /* Line Height */
    .lheight-10 { line-height: 10rem; }
    .lheight-9 { line-height: 9rem; }
    .lheight-8 { line-height: 8rem; }
    .lheight-7 { line-height: 7rem; }
    .lheight-6 { line-height: 6rem; }
    .lheight-5 { line-height: 5rem; }
    .lheight-4 { line-height: 4rem; }
    .lheight-3 { line-height: 3rem; }
    .lheight-2 { line-height: 2rem; }
    .lheight-175 { line-height: 1.75rem; }
    .lheight-15 { line-height: 1.5rem; }
    .lheight-125 { line-height: 1.25rem; }
    .lheight-1 { line-height: 1rem; }

    /* Font Case */
    .uppercase      { text-transform: uppercase; }
    .lowercase      { text-transform: lowercase; }


    /* Link */
    a { display: inline-block; text-decoration: none; color: var(--primary-dark); }
    a:hover { color: var(--primary-light); }


/* SPACING */

    /* Padding */
        /* Equal */
        .p-10		{ padding: calc( var(--base-space) * 10 ); }
        .p-9		{ padding: calc( var(--base-space) * 9 ); }
        .p-8		{ padding: calc( var(--base-space) * 8 ); }
        .p-7		{ padding: calc( var(--base-space) * 7 ); }
        .p-6		{ padding: calc( var(--base-space) * 6 ); }
        .p-5		{ padding: calc( var(--base-space) * 5 ); }
        .p-4		{ padding: calc( var(--base-space) * 4 ); }
        .p-3		{ padding: calc( var(--base-space) * 3 ); }
        .p-2		{ padding: calc( var(--base-space) * 2 ); }
        .p-1		{ padding: calc( var(--base-space) * 1 ); }
        .p-0		{ padding: calc( var(--base-space) * 0 ); }
        .p-half		{ padding: calc( var(--base-space) * .5 ); }

        /* Equal X */
        .px-10		{ padding-left: calc( var(--base-space) * 10 ); padding-right: calc( var(--base-space) * 10 ); }
        .px-9		{ padding-left: calc( var(--base-space) * 9 ); padding-right: calc( var(--base-space) * 9 ); }
        .px-8		{ padding-left: calc( var(--base-space) * 8 ); padding-right: calc( var(--base-space) * 8 ); }
        .px-7		{ padding-left: calc( var(--base-space) * 7 ); padding-right: calc( var(--base-space) * 7 ); }
        .px-6		{ padding-left: calc( var(--base-space) * 6 ); padding-right: calc( var(--base-space) * 6 ); }
        .px-5		{ padding-left: calc( var(--base-space) * 5 ); padding-right: calc( var(--base-space) * 5 ); }
        .px-4		{ padding-left: calc( var(--base-space) * 4 ); padding-right: calc( var(--base-space) * 4 ); }
        .px-3		{ padding-left: calc( var(--base-space) * 3 ); padding-right: calc( var(--base-space) * 3 ); }
        .px-2		{ padding-left: calc( var(--base-space) * 2 ); padding-right: calc( var(--base-space) * 2 ); }
        .px-1		{ padding-left: calc( var(--base-space) * 1 ); padding-right: calc( var(--base-space) * 1 ); }
        .px-0		{ padding-left: calc( var(--base-space) * 0 ); padding-right: calc( var(--base-space) * 0 ); }
        .px-half	{ padding-left: calc( var(--base-space) * .5 ); padding-right: calc( var(--base-space) * .5 ); }

        /* Equal Y */
        .py-10		{ padding-top: calc( var(--base-space) * 10 ); padding-bottom: calc( var(--base-space) * 10 ); }
        .py-9		{ padding-top: calc( var(--base-space) * 9 ); padding-bottom: calc( var(--base-space) * 9 ); }
        .py-8		{ padding-top: calc( var(--base-space) * 8 ); padding-bottom: calc( var(--base-space) * 8 ); }
        .py-7		{ padding-top: calc( var(--base-space) * 7 ); padding-bottom: calc( var(--base-space) * 7 ); }
        .py-6		{ padding-top: calc( var(--base-space) * 6 ); padding-bottom: calc( var(--base-space) * 6 ); }
        .py-5		{ padding-top: calc( var(--base-space) * 5 ); padding-bottom: calc( var(--base-space) * 5 ); }
        .py-4		{ padding-top: calc( var(--base-space) * 4 ); padding-bottom: calc( var(--base-space) * 4 ); }
        .py-3		{ padding-top: calc( var(--base-space) * 3 ); padding-bottom: calc( var(--base-space) * 3 ); }
        .py-2		{ padding-top: calc( var(--base-space) * 2 ); padding-bottom: calc( var(--base-space) * 2 ); }
        .py-1		{ padding-top: calc( var(--base-space) * 1 ); padding-bottom: calc( var(--base-space) * 1 ); }
        .py-0		{ padding-top: calc( var(--base-space) * 0 ); padding-bottom: calc( var(--base-space) * 0 ); }
        .py-half	{ padding-top: calc( var(--base-space) * .5 ); padding-bottom: calc( var(--base-space) * .5 ); }

        /* Top */
        .pt-10		{ padding-top: calc( var(--base-space) * 10 ); }
        .pt-5		{ padding-top: calc( var(--base-space) * 9 ); }
        .pt-8		{ padding-top: calc( var(--base-space) * 8 ); }
        .pt-7		{ padding-top: calc( var(--base-space) * 7 ); }
        .pt-6		{ padding-top: calc( var(--base-space) * 6 ); }
        .pt-5		{ padding-top: calc( var(--base-space) * 5 ); }
        .pt-4		{ padding-top: calc( var(--base-space) * 4 ); }
        .pt-3		{ padding-top: calc( var(--base-space) * 3 ); }
        .pt-2		{ padding-top: calc( var(--base-space) * 2 ); }
        .pt-1		{ padding-top: calc( var(--base-space) * 1 ); }
        .pt-0		{ padding-top: calc( var(--base-space) * 0 ); }
        .pt-half	{ padding-top: calc( var(--base-space) * .5 ); }

        /* Right */
        .pr-10		{ padding-right: calc( var(--base-space) * 10 ); }
        .pr-5		{ padding-right: calc( var(--base-space) * 9 ); }
        .pr-8		{ padding-right: calc( var(--base-space) * 8 ); }
        .pr-7		{ padding-right: calc( var(--base-space) * 7 ); }
        .pr-6		{ padding-right: calc( var(--base-space) * 6 ); }
        .pr-5		{ padding-right: calc( var(--base-space) * 5 ); }
        .pr-4		{ padding-right: calc( var(--base-space) * 4 ); }
        .pr-3		{ padding-right: calc( var(--base-space) * 3 ); }
        .pr-2		{ padding-right: calc( var(--base-space) * 2 ); }
        .pr-1		{ padding-right: calc( var(--base-space) * 1 ); }
        .pr-0		{ padding-right: calc( var(--base-space) * 0 ); }
        .pr-half	{ padding-right: calc( var(--base-space) * .5 ); }

        /* Bottom */
        .pb-10		{ padding-bottom: calc( var(--base-space) * 10 ); }
        .pb-5		{ padding-bottom: calc( var(--base-space) * 9 ); }
        .pb-8		{ padding-bottom: calc( var(--base-space) * 8 ); }
        .pb-7		{ padding-bottom: calc( var(--base-space) * 7 ); }
        .pb-6		{ padding-bottom: calc( var(--base-space) * 6 ); }
        .pb-5		{ padding-bottom: calc( var(--base-space) * 5 ); }
        .pb-4		{ padding-bottom: calc( var(--base-space) * 4 ); }
        .pb-3		{ padding-bottom: calc( var(--base-space) * 3 ); }
        .pb-2		{ padding-bottom: calc( var(--base-space) * 2 ); }
        .pb-1		{ padding-bottom: calc( var(--base-space) * 1 ); }
        .pb-0		{ padding-bottom: calc( var(--base-space) * 0 ); }
        .pb-half	{ padding-bottom: calc( var(--base-space) * .5 ); }
        .pb-50p		{ padding-bottom: 50%; }

        /* Left */
        .pl-10		{ padding-left: calc( var(--base-space) * 10 ); }
        .pl-5		{ padding-left: calc( var(--base-space) * 9 ); }
        .pl-8		{ padding-left: calc( var(--base-space) * 8 ); }
        .pl-7		{ padding-left: calc( var(--base-space) * 7 ); }
        .pl-6		{ padding-left: calc( var(--base-space) * 6 ); }
        .pl-5		{ padding-left: calc( var(--base-space) * 5 ); }
        .pl-4		{ padding-left: calc( var(--base-space) * 4 ); }
        .pl-3		{ padding-left: calc( var(--base-space) * 3 ); }
        .pl-2		{ padding-left: calc( var(--base-space) * 2 ); }
        .pl-1		{ padding-left: calc( var(--base-space) * 1 ); }
        .pl-0		{ padding-left: calc( var(--base-space) * 0 ); }
        .pl-half	{ padding-left: calc( var(--base-space) * .5 ); }

    /* Margin */
        /* Equal */
        .m-10		{ margin: calc( var(--base-space) * 10 ); }
        .m-9		{ margin: calc( var(--base-space) * 9 ); }
        .m-8		{ margin: calc( var(--base-space) * 8 ); }
        .m-7		{ margin: calc( var(--base-space) * 7 ); }
        .m-6		{ margin: calc( var(--base-space) * 6 ); }
        .m-5		{ margin: calc( var(--base-space) * 5 ); }
        .m-4		{ margin: calc( var(--base-space) * 4 ); }
        .m-3		{ margin: calc( var(--base-space) * 3 ); }
        .m-2		{ margin: calc( var(--base-space) * 2 ); }
        .m-1		{ margin: calc( var(--base-space) * 1 ); }
        .m-0		{ margin: calc( var(--base-space) * 0 ); }
        .m-half		{ margin: calc( var(--base-space) * .5 ); }

        /* Equal X */
        .mx-10		{ margin-left: calc( var(--base-space) * 10 ); margin-right: calc( var(--base-space) * 10 ); }
        .mx-9		{ margin-left: calc( var(--base-space) * 9 ); margin-right: calc( var(--base-space) * 9 ); }
        .mx-8		{ margin-left: calc( var(--base-space) * 8 ); margin-right: calc( var(--base-space) * 8 ); }
        .mx-7		{ margin-left: calc( var(--base-space) * 7 ); margin-right: calc( var(--base-space) * 7 ); }
        .mx-6		{ margin-left: calc( var(--base-space) * 6 ); margin-right: calc( var(--base-space) * 6 ); }
        .mx-5		{ margin-left: calc( var(--base-space) * 5 ); margin-right: calc( var(--base-space) * 5 ); }
        .mx-4		{ margin-left: calc( var(--base-space) * 4 ); margin-right: calc( var(--base-space) * 4 ); }
        .mx-3		{ margin-left: calc( var(--base-space) * 3 ); margin-right: calc( var(--base-space) * 3 ); }
        .mx-2		{ margin-left: calc( var(--base-space) * 2 ); margin-right: calc( var(--base-space) * 2 ); }
        .mx-1		{ margin-left: calc( var(--base-space) * 1 ); margin-right: calc( var(--base-space) * 1 ); }
        .mx-0		{ margin-left: calc( var(--base-space) * 0 ); margin-right: calc( var(--base-space) * 0 ); }
        .mx-half	{ margin-left: calc( var(--base-space) * .5 ); margin-right: calc( var(--base-space) * .5 ); }

        /* Equal Y */
        .my-10		{ margin-top: calc( var(--base-space) * 10 ); margin-bottom: calc( var(--base-space) * 10 ); }
        .my-9		{ margin-top: calc( var(--base-space) * 9 ); margin-bottom: calc( var(--base-space) * 9 ); }
        .my-8		{ margin-top: calc( var(--base-space) * 8 ); margin-bottom: calc( var(--base-space) * 8 ); }
        .my-7		{ margin-top: calc( var(--base-space) * 7 ); margin-bottom: calc( var(--base-space) * 7 ); }
        .my-6		{ margin-top: calc( var(--base-space) * 6 ); margin-bottom: calc( var(--base-space) * 6 ); }
        .my-5		{ margin-top: calc( var(--base-space) * 5 ); margin-bottom: calc( var(--base-space) * 5 ); }
        .my-4		{ margin-top: calc( var(--base-space) * 4 ); margin-bottom: calc( var(--base-space) * 4 ); }
        .my-3		{ margin-top: calc( var(--base-space) * 3 ); margin-bottom: calc( var(--base-space) * 3 ); }
        .my-2		{ margin-top: calc( var(--base-space) * 2 ); margin-bottom: calc( var(--base-space) * 2 ); }
        .my-1		{ margin-top: calc( var(--base-space) * 1 ); margin-bottom: calc( var(--base-space) * 1 ); }
        .my-0		{ margin-top: calc( var(--base-space) * 0 ); margin-bottom: calc( var(--base-space) * 0 ); }
        .my-half	{ margin-top: calc( var(--base-space) * .5 ); margin-bottom: calc( var(--base-space) * .5 ); }

        /* Top */
        .mt-10		{ margin-top: calc( var(--base-space) * 10 ); }
        .mt-5		{ margin-top: calc( var(--base-space) * 9 ); }
        .mt-8		{ margin-top: calc( var(--base-space) * 8 ); }
        .mt-7		{ margin-top: calc( var(--base-space) * 7 ); }
        .mt-6		{ margin-top: calc( var(--base-space) * 6 ); }
        .mt-5		{ margin-top: calc( var(--base-space) * 5 ); }
        .mt-4		{ margin-top: calc( var(--base-space) * 4 ); }
        .mt-3		{ margin-top: calc( var(--base-space) * 3 ); }
        .mt-2		{ margin-top: calc( var(--base-space) * 2 ); }
        .mt-1		{ margin-top: calc( var(--base-space) * 1 ); }
        .mt-0		{ margin-top: calc( var(--base-space) * 0 ); }
        .mt-half	{ margin-top: calc( var(--base-space) * .5 ); }

        /* Right */
        .mr-10		{ margin-right: calc( var(--base-space) * 10 ); }
        .mr-5		{ margin-right: calc( var(--base-space) * 9 ); }
        .mr-8		{ margin-right: calc( var(--base-space) * 8 ); }
        .mr-7		{ margin-right: calc( var(--base-space) * 7 ); }
        .mr-6		{ margin-right: calc( var(--base-space) * 6 ); }
        .mr-5		{ margin-right: calc( var(--base-space) * 5 ); }
        .mr-4		{ margin-right: calc( var(--base-space) * 4 ); }
        .mr-3		{ margin-right: calc( var(--base-space) * 3 ); }
        .mr-2		{ margin-right: calc( var(--base-space) * 2 ); }
        .mr-1		{ margin-right: calc( var(--base-space) * 1 ); }
        .mr-0		{ margin-right: calc( var(--base-space) * 0 ); }
        .mr-half	{ margin-right: calc( var(--base-space) * .5 ); }

        /* Bottom */
        .mb-10		{ margin-bottom: calc( var(--base-space) * 10 ); }
        .mb-5		{ margin-bottom: calc( var(--base-space) * 9 ); }
        .mb-8		{ margin-bottom: calc( var(--base-space) * 8 ); }
        .mb-7		{ margin-bottom: calc( var(--base-space) * 7 ); }
        .mb-6		{ margin-bottom: calc( var(--base-space) * 6 ); }
        .mb-5		{ margin-bottom: calc( var(--base-space) * 5 ); }
        .mb-4		{ margin-bottom: calc( var(--base-space) * 4 ); }
        .mb-3		{ margin-bottom: calc( var(--base-space) * 3 ); }
        .mb-2		{ margin-bottom: calc( var(--base-space) * 2 ); }
        .mb-1		{ margin-bottom: calc( var(--base-space) * 1 ); }
        .mb-0		{ margin-bottom: calc( var(--base-space) * 0 ); }
        .mb-half	{ margin-bottom: calc( var(--base-space) * .5 ); }

        /* Left */
        .ml-10		{ margin-left: calc( var(--base-space) * 10 ); }
        .ml-9		{ margin-left: calc( var(--base-space) * 9 ); }
        .ml-8		{ margin-left: calc( var(--base-space) * 8 ); }
        .ml-7		{ margin-left: calc( var(--base-space) * 7 ); }
        .ml-6		{ margin-left: calc( var(--base-space) * 6 ); }
        .ml-5		{ margin-left: calc( var(--base-space) * 5 ); }
        .ml-4		{ margin-left: calc( var(--base-space) * 4 ); }
        .ml-3		{ margin-left: calc( var(--base-space) * 3 ); }
        .ml-2		{ margin-left: calc( var(--base-space) * 2 ); }
        .ml-1		{ margin-left: calc( var(--base-space) * 1 ); }
        .ml-0		{ margin-left: calc( var(--base-space) * 0 ); }
        .ml-half	{ margin-left: calc( var(--base-space) * .5 ); }

    /* Border */
    .border             { border: 1px solid var(--gray-dark); }
    .border-mid         { border: 1px solid var(--gray-mid); }
    .border-light       { border: 1px solid var(--gray-light); }
    .border-dotted      { border-style: dotted; }
    .border-dashed      { border-style: dashed; }
    .border-double      { border-style: double; }
    .border-w2          { border-width: 2px; }
    .border-w3          { border-width: 3px; }
    .border-w4          { border-width: 4px; }
    .border-w5          { border-width: 5px; }
    .border-w6          { border-width: 6px; }
    .border-w7          { border-width: 7px; }
    .border-w8          { border-width: 8px; }
    .border-w9          { border-width: 9px; }
    .border-w10         { border-width: 10px; }
    .border-primary     { border-color: var(--primary); }
    .border-secondary   { border-color: var(--secondary); }
    .border-tertiary    { border-color: var(--tertiary); }
    


    /* Safe Content Width*/
    .safe-width { width: var(--safe-width); }


/* SIZING */
    .w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12, .w100, .w75, .w66, .w50, .w33, .w25 { width: 100%; }

    @media screen and (min-width: 768px) {
        .w-1    { width: calc( 100% / 12 ); }
        .w-2    { width: calc( 100% / 12 * 2 ); }
        .w-3    { width: calc( 100% / 12 * 3 ); }
        .w-4    { width: calc( 100% / 12 * 4 ); }
        .w-5    { width: calc( 100% / 12 * 5 ); }
        .w-6    { width: calc( 100% / 12 * 6 ); }
        .w-7    { width: calc( 100% / 12 * 7 ); }
        .w-8    { width: calc( 100% / 12 * 8 ); }
        .w-9    { width: calc( 100% / 12 * 9 ); }
        .w-10   { width: calc( 100% / 12 * 10 ); }
        .w-11   { width: calc( 100% / 12 * 11 ); }
        .w-12   { width: 100%; }
        .w100   { width: 100%; }
        .w75    { width: 75%; }
        .w66    { width: calc(100% / 3 * 2); }
        .w50    { width: 50%; }
        .w33    { width: calc(100% / 3); }
        .w25    { width: 25%; }
    }

/* BACKGROUND */

    .bg-primary     { background-color: var(--primary); }
    .bg-secondary   { background-color: var(--secondary); }
    .bg-tertiary    { background-color: var(--tertiary); }
    .bg-white       { background-color: var(--bg-white); }
    .bg-gray-dark   { background-color: var(--gray-dark); }
    .bg-gray-mid    { background-color: var(--gray-mid); }
    .bg-gray-mid2   { background-color: var(--gray-mid2); }
    .bg-gray-light  { background-color: var(--gray-light); }

    .bg-image_cover { background-position: center; background-repeat: no-repeat; background-size: cover; }

.always-on-top      { z-index: 9998; }

.super-top          { z-index: 9999; }


/* HEADERS */

    h1      { font-size:  calc( var(--base-fsize) * 2.5 ); line-height: calc( var(--base-fsize) * 2.5 ); }
    h2      { font-size:  calc( var(--base-fsize) * 2.0 ); line-height: calc( var(--base-fsize) * 2.0 ); }
    h3      { font-size:  calc( var(--base-fsize) * 1.7 ); line-height: calc( var(--base-fsize) * 1.7 ); }
    h4      { font-size:  calc( var(--base-fsize) * 1.4 ); line-height: calc( var(--base-fsize) * 1.4 ); }
    h5      { font-size:  calc( var(--base-fsize) * 1.2 ); line-height: calc( var(--base-fsize) * 1.2 ); }